.goods_detail_content {
  overflow: hidden;
}
.goods_detail_content .goods_detail_content_title {
  margin-top: 20px;
}
.goods_detail_content .goods_detail_content_title span {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
}
