.jdq_content .jdq_content_title {
  margin-top: 20px;
}
.jdq_content .jdq_content_img {
  margin-top: 20px;
}
.jdq_content .jdq_content_img ul li {
  float: left;
  width: 203px;
  height: 260px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  text-align: center;
}
.jdq_content .jdq_content_img ul li a {
  width: 100%;
  height: 100%;
}
.jdq_content .jdq_content_img ul li a img {
  width: 143px;
  height: 139px;
  margin-top: 30px;
}
.jdq_content .jdq_content_img ul li a .span1 {
  display: inline-block;
  width: 165px;
  height: 16px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
  margin-top: 18px;
  margin-bottom: 12px;
}
.jdq_content .jdq_content_img ul li a .span2 {
  display: inline-block;
}
.jdq_content .jdq_content_img ul li a .span2 .span3 {
  width: 85px;
  height: 26px;
  background: #ff7800;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
}
.jdq_content .jdq_content_img ul li a .span2 .span4 {
  width: 85px;
  text-align: center;
  height: 24px;
  border: 1px solid #ff7800;
  font-size: 16px;
  line-height: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  text-decoration: line-through;
  color: #999999;
}
.jdq_content .jdq_content_img ul .jdq_content_img_li1 {
  width: 190px;
  text-align: center;
}
.jdq_content .jdq_content_img ul .jdq_content_img_li1 a {
  width: 160px;
  height: 90px;
}
.jdq_content .jdq_content_recommend {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.jdq_content .jdq_content_recommend span {
  display: inline-block;
  width: 124px;
  height: 29px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-style: italic;
  color: #ff7800;
}
.jdq_content .jdq_content_search {
  width: 1200px;
  height: 40px;
  background: #f1f1f1;
  line-height: 40px;
}
.jdq_content .jdq_content_search .jdq_content_search_left a {
  text-align: center;
  display: inline-block;
}
.jdq_content .jdq_content_search .jdq_content_search_left .a1 {
  width: 80px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #ff7800;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ff7800;
}
.jdq_content .jdq_content_search .jdq_content_search_left .a2 {
  width: 99px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}
