.forget_password_content .forget_password_content_box .register_content_div {
  width: 300px;
  margin: 0 auto;
}
.forget_password_content .forget_password_content_box .register_content_div .register_content_input_end {
  width: 183px;
}
.forget_password_content .forget_password_content_box .register_content_div_end {
  margin-top: 30px;
  margin-bottom: 10px;
}
.forget_password_content .forget_password_content_box .register_content_div_end input {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}
.forget_password_content .forget_password_content_box .register_content_div_end span {
  width: 448px;
  height: 16px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999999;
}
.forget_password_content .forget_password_content_box .register_content_div_end a {
  color: #ff7800;
}
